---
name: home
url: /
animationIn: slideInLeft
animationOut: slideOutRight
---


<div class="grid-block ui-animation">
	<div class="grid-container ui-animation small-8 medium-4 large-3">
		<div class="card spacer-top">
			<img src="assets/img/patient-login.png" class="login-photo">
			<div class="small-8 grid-container">
				<input placeholder="MedKit ID" type="text">
				<input placeholder="Password" type="text">
				<a class="login-button" ui-sref="view-profile"><strong>LOGIN<strong></a>
			</div>
		</div>
		<br>
		<a class="switch-login-button" ui-sref="admin-home">Caretaker Login</a>
	</div>
</div>

