---
name: view-profile
url: /profile
---

<div class="grid-block ui-animation spacer-top">
	<div class="grid-container align-right vertical card medium-8 small-11 profile-card">
		<div class="grid-block">

			<div class="grid-block small-12 medium-3 large-2">
				<div class="grid-content left-spacer">
					<div class="card">
						<center>
						<img src="assets/img/default_profile.png" class="pic-border">
						</center>
					</div>
				</div>
			</div>

			<div class="grid-block vertical show-for-medium">

				<div class="grid-content profile-name">
					<h2 >Justin Naig</h2>
					<h3 class="subheader">3 Prescriptions</h3>
				</div>

				<div class="grid-content">
					<div class="grid-content small-12">
					<a role="button" aria-label="submit form" class="button hollow" >Message Caretaker</a>
					<a role="button" aria-label="submit form" ui-sref="home" class="button" >Back</a>
					</div>
				</div>
			</div>
			<div class="grid-block vertical show-for-small-only align-center">

				<div class="grid-content">
					<center>
					<h2>Justin Naig</h2>
					<h3>3 Prescriptions</h3>
					</center>
				</div>

				<div class="grid-content">
					<div class="grid-content small-12">
					<a role="button" aria-label="submit form" class="button hollow expand" >Message Caretaker</a>
					<a role="button" aria-label="submit form" ui-sref="home" class="button expand" >Back</a>

					</div>
				</div>
			</div>
		</div>
		<div class="grid-content"><hr></div>
		<div class="grid-block ">
			<div class="grid-content medium-4 small-12">
				<ul class="no-bullet trail-details">
					<li><h5><strong>Full Name: </strong>Justin Naig</li>
					<li><h5><strong>MedKit ID: </strong>001</li>
					<li><h5><strong>Address: </strong>123 Medkit Rd.</li>
					<li><h5><strong>Email: </strong>justin@MedKit.com</li>
					<li><h5><strong>Phone Number: </strong>123 456 7890</li>
					<li><h5><strong>Gender: </strong>Male</li>
					<li><h5><strong>Prescriptions: </strong>Tylenol, Advil</li>
				</ul>
			</div>
			<div class="grid-block medium-8 small-12" style="background-color:#fcfcfc">
				<div class="grid-content">
					<h3 class="med-box">Prescriptions</h3>
					<hr>
			</div >
		</div>

	</div>
</div>
